<!DOCTYPE html>
<html lang="en" ng-app="tournamentApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
		<title>Warganiser</title>
	    <link rel="stylesheet" href="css/warganiser.css">
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	</head>
	<body>
		<div class="container-fluid" ng-controller="TournamentController">
			<h1>Create New</h1>
			<form role="form" novalidate>
				<div class="form-group">
					<label for="inputName">Name</label>
					<input type="text" class="form-control" id="inputName" placeholder="Tournament Name" ng-model="tournament.name" required>
				</div>
				<button type="submit" ng-click="create(tournament)" class="btn btn-primary btn-default">Create</button>
			</form>
		</div>
		<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="js/warganiser.js"></script>
	</body>
</html>
