<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

	<servlet>
	    <servlet-name>default</servlet-name>
	    <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
	    <init-param>
	    <!-- Turn this off to prevent locking of JS etc files in dev -->
	      <param-name>useFileMappedBuffer</param-name>
	      <param-value>false</param-value>
	    </init-param>
	    <load-on-startup>0</load-on-startup>
	</servlet>
	
	<!-- Set up a proxy servlet so that the client can call the REST services from the server bypassing the same-origin problem -->
    <servlet>
        <servlet-name>proxy</servlet-name>
        <servlet-class>org.eclipse.jetty.proxy.ProxyServlet$Transparent</servlet-class>
        <init-param>
            <param-name>proxyTo</param-name>
            <param-value>http://localhost:8180/</param-value>
        </init-param>
        <init-param>
            <param-name>prefix</param-name>
            <param-value>/service</param-value>
        </init-param>

        <load-on-startup>0</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
	
	<servlet-mapping>
		<servlet-name>proxy</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>
	

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
